/* Global reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Student Form Container */
  .student-form {
    max-width: 1200px;
    margin: 0 ;
    padding: 0px;
  }
  
  /* Main Heading */
  .main-heading {
    text-align: center;
    padding-top: 20px;
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: bold;
  }
  
  /* Section Styling */
   .section {
  display: inline-table;
  align-content: flex-start;
    margin-bottom: 40px;
   
    width: 100%; /* Take full width of the container */
  }
  
  .section-heading {
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  /* Row Styling */
  .row {
   
    display: flex;
    gap: 2px;
    justify-content: flex-start;
  }
  
  /* Column Styling */
  .col {
    flex: 1;
  }
  
  /* Input Styling */
  .form-control {
  
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
  }
   